<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Book{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'book/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/1ad998e217.js" crossorigin="anonymous"></script>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container">
            <a class="navbar-brand" href="/book/">Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/book/">Book</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/book/borrow_post/">대여함</a>
                </li>

              </ul>
              <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" >Log Out</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <!-- Modal -->


</body>