{% extends 'book/base.html' %}
{% block main_area %}


{% if user.is_authenticated %}
{% if user.is_superuser or user.is_staff %}
<a class="btn btn-info btn-sm float-right" href="/book/create_book/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;Add
    Book</a>
{% endif %}
{% endif %}

<h1>Book
    {% if search_info %}<small class="text-muted">{{ search_info }}</small>{% endif %}
    {% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}
</h1>
{% if post_list.exists %}

{% for p in post_list %}
<form method="post" action="/book/borrow_post/"> {% csrf_token %}
<!--Blog Post-->
<div class="card mb-4" id="post-{{ p.pk }}">
    <div class="card-body">
        {% if p.category %}
        <span class="badge badge-secondary float-right">{{ p.category }}</span>
        {% else %}
        <span class="badge badge-secondary float-right">미분류</span>
        {% endif %}
        <input type="checkbox" name="book" value="{{p.pk}},{{p.title}}" class="card-title"><a href="{{ p.get_absolute_url }}">제목: {{ p.title }}</a></input>
    </div>
    <div class="card-footer text-muted">
        재고일: {{ p.created_at }}
    </div>
</div>
{% endfor %}

<input type="submit" class="btn btn-info btn-sm float-right" value="대여">
</form>

{% else %}
<h3>아직 게시물이 없습니다.</h3>
{% endif %}

{% if is_paginated %}
<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">&larr; Older</a>
    </li>
    {% endif %}

    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
    {% endif %}
</ul>

{% endif %}


{% endblock %}

